* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url("https://sun2.is74.userapi.com/impg/4Z_7FlBzS7XCTz0JLeydKVC9kWf_UXO1fEvK0A/PdmFEnv_fYU.jpg?size=1920x1080&quality=96&sign=753572fb893d160a7b5ba1fa4a1254e2&type=album");
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1 {
    font-size: 2.25rem;
    font-weight: 900;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
.container {
    position: relative;
    width: 71.25rem;
    margin: 0 auto;
}

header {
    position: relative;
    height: 8rem; 
    overflow: hidden;
    z-index: 2;
}
nav {
    position: fixed; 
    width: 100%; 
    height: 3.725rem;
    background-color: #bebebe;
    top: 0; 
}
.nav__container {
    padding: 1rem 1.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name__link {
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
}
.menu {
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: center;
}
.menu__link {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none; 
}
.menu__link:hover {
    text-decoration: underline; 
}
.menu__item {
    padding: 0 1.5rem;
}



.about_me__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25rem;
    column-gap: 0.625rem;
}
.about_me__photo {
    display: block;
}
.about_me__info {
    background-color: #bebebe;
    margin-left: -1rem;
    padding: 3.725rem;
}
.about_me__text {
    font-weight: 300;
    font-size: 1.25rem;
}
.about_me__links {
    background-color: #7a7a7a;
    display: flex;
    justify-content: space-around;
    padding: 1rem 20rem;
    height: 3.725rem;
}
.education {
    margin-top: -3.725rem;
    padding-top: 6.725rem;
    background-color: #cfcfcf;
}
.education__subheader {
    text-align: center;
}
.education__container {
    padding: 3.725rem;
}